<%= form_with model: [:admin, product], local:true do |f| %>
  <div class="form-group">
    <%= f.label :商品画像, class: "col-sm-3" %>
    <%= f.attachment_field :image, class: "product_image" %>
  </div>
  <div class="form-group">
    <%= f.label :商品名, class: "col-sm-3" %>
    <%= f.text_field :name, :placeholder => "商品名", size:"35", class: "product_name" %>
  </div>
  <div class="form-group">
    <%= f.label :商品説明, class: "col-sm-3" %>
    <%= f.text_area :description, :placeholder => "ここに説明文を記述します", size:"35x7", class: "product_description" %>
  </div>
  <div class="form-group">
    <%= f.label :ジャンル, class: "col-sm-3" %>
    <%= f.collection_select :genre_id, Genre.all, :id, :name, :prompt => "--選択してください--", size:"35", class: "product_genre" %>
  </div>
  <div class="form-group">
    <%= f.label :税抜価格, class: "col-sm-3" %>
    <%= f.text_field :price, :placeholder => "1000", size:"35", class: "product_image" %> 円
  </div>
  <div class="form-group">
    <%= f.label :販売ステータス, class: "col-sm-3" %>
    <%= f.radio_button :sale_status, :true, checked: true %>
    <%= f.label "販売中" %>
    <%= f.radio_button :sale_status, :false %>
    <%= f.label "販売停止中" %>
  </div>
  <div class="form-group">
    <%= f.submit %>
  </div>
<% end %>