<%= form_with model: product, url: admin_products_path, local:true do |f| %>
<%
=begin %>
  <div class="form-group">
    <%= f.label :商品画像 %>
    <%= f.attachment_field :image, class: "form-control-file product_image" %>
  </div>
<%
=end %>
  <div class="form-group">
    <%= f.label :商品名 %>
    <%= f.text_field :name, :placeholder => "商品名", class: "form-control-file product_name" %>
  </div>
  <div class="form-group">
    <%= f.label :商品説明 %>
    <%= f.text_area :description, :placeholder => "ここに説明文を記述します", class: "form-control-file product_description" %>
  </div>
  <div class="form-group">
    <%= f.label :ジャンル %>
    <%= f.collection_select :genre_id, Genre.all, :id, :name, :prompt => "--選択してください--" %>
  </div>
  <div class="form-group">
    <%= f.label :税抜価格 %>
    <%= f.text_field :price, :placeholder => "1000", class: "form-control-file product_image" %>円
  </div>
  <div class="form-group">
    <%= f.label :販売ステータス %>
    <%= f.radio_button :sale_status, :true %>
    <%= f.label "販売中" %>
    <%= f.radio_button :sale_status, :false %>
    <%= f.label "販売停止中" %>
  </div>
  <div class="form-group">
    <%= f.submit '新規登録' %>
  </div>
<% end %>